body {
  background-color: #2c3e50;
}

.bg-clouds {
  background-color: #ecf0f1;
}

.br-4px {
  border-radius: 4px;
}

i.las {
  font-size: 16px;
}

/*
 * Navbar
 */
#top-navigation {
  background-color: #ecf0f1 !important;
}

#top-navigation .nav-link {
  color: #e74c3c;
  font-weight: 500;
  border-radius: 4px;
}

#top-navigation .nav-link:hover {
  color: #ecf0f1;
  background-color: #e74c3c;
  border-radius: 4px;
  font-weight: 500;
}

/*
 * Home Main
 */

.list-group-item {
  max-width: 270px;
  position: relative;
  display: block;
  padding: .8rem 1rem;
  font-size: 16px;
  text-decoration: none;
  background-color: #ecf0f1;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  /* background-color: #3498db; */
  background-color: #f1c40f;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#list-group__logout {
  font-weight: 500;
  color: #e74c3c;
}

#basic-info .col,
#basic-info .col-5 {
  background-color: #ecf0f1;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.125);
}

/* #req-res-diagrams .col {
  background-color: #ecf0f1;
  border-radius: 4px;
} */

/*
 * Users Main
 */

#users-table {
  background-color: #ecf0f1;
  border-radius: 4px;
}

#users-table .table th {
  text-align: center;
  
}

#users-table .table td {
  text-align: center;
  /* padding-bottom: 4px;
  padding-top: 4px; */
}

.py-4px {
  padding-bottom: 4px;
  padding-top: 4px;
}